*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    min-height: 200vh;
    position: relative;
}

.logo {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 30px;
    width: 200px;
    color:rgb(126, 103, 68);
    font-family:'Gill Sans', 'sans-serif';
    cursor: pointer;
    font-weight: 650;
}